---
import Layout from '../layouts/BlogPost.astro';
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('July 23 2025')}
>
	<p>
		Hi everyone. I'm Di Nguyen, born in Vietnam, currently living in Canada.
		I made this blog to post random stuff that I find interesting.
	</p>
</Layout>
