---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>My Personal Blog</h1>
			<p>
				Welcome to my personal blog. This blog was made with Astro because I'm familiar with
				React and Next.js is too much work. Astro is nice, it has templates.
			</p>

			<p>
				Anyways, that's about it. Feel free to explore my blog.
			</p>
		</main>
		<Footer />
	</body>
</html>
