---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>My Personal Blog</h1>
			<p>
				Welcome to my personal blog. This blog was made with Astro because I'm familiar with
				React and Next.js is too much work. Astro is nice, it has templates.
			</p>

			<p>
				Here's a closer look at the icon image you saw in the tab. I collected this art a long time ago
				and I somehow couldn't retrieve the source. Just know that I didn't draw it. I cannot draw.
			</p>

			<div>
				<img src="../../public/sanae.jpg" alt="Kochiya Sanae">
			</div>

			<p>
				The beautiful girl you're seeing is Kochiya Sanae from Touhou Project. I love her.
			</p>

			<p>
				Anyways, that's about it. Feel free to explore my blog.
			</p>
		</main>
		<Footer />
	</body>
</html>
